em-emoji-picker {
  width: 50rem !important;
}

.emoji-mart-emoji > span {
  font-size: 11px !important;
}

emoji-mart {
  width: 280px;
}

/* picker 전체 */
/* .EmojiPicker {
  width: 280px !important;
}

/* 이모지 버튼 */
/* .EmojiPicker-emoji {
  width: 28px !important;
  height: 28px !important;
  font-size: 18px !important;
} */
